@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.page {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --primary-bg-color: #F5F5F5;
  --secondary-bg-color: #F5F4FA;
  --third-bg-color: #2F303A;
  --accent-color: #2196F3;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  min-width: 320px;
  max-width: 480px;
}
@media screen and (min-width: 767.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1199.98px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* приховані заголовки */
.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

/* стилізація лого */
.logo__web {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__studio {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__studio--inverse {
  color: #FFFFFF;
}

/* стилізація мобільного хедера */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 767.98px) {
  .mobile-header {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: white;
  z-index: 1;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mob-nav {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link--current {
  color: var(--accent-color);
}

.mob-contact {
  display: block;
  margin-bottom: 64px;
}

.mob-contact__item:first-child {
  margin-bottom: 32px;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mob-contact__item:last-child {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-social {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-social__item {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 22px;
}
.mob-social__item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-social__item:first-child {
  padding-left: 0px;
}

@media screen and (min-width: 1199.98px) {
  .contact {
    display: flex;
    align-items: center;
  }
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header-section {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 767.98px) {
  .header-section {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1199.98px) {
  .header-section {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.main-header {
  display: none;
}
@media screen and (min-width: 767.98px) {
  .main-header {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: flex;
  margin-left: 87px;
}
@media screen and (min-width: 1199.98px) {
  .site-nav {
    margin-left: 92px;
  }
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}
.site-nav__item--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__item--current::after {
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translate(-50%, -50%);
  content: " ";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 90px;
}
@media screen and (min-width: 1199.98px) {
  .contact {
    margin-left: 315px;
    flex-direction: row;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .contact__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1199.98px) {
  .contact__item:not(:first-child) {
    margin-left: 30px;
  }
}

.contact__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contact__link {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.contact__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact__icon {
    display: flex;
    fill: currentColor;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1199.98px) {
  .contact__icon {
    margin-right: 10px;
  }
}

/* герой */
.hero-section {
  text-align: center;
  max-width: 100%;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-tablet.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-tablet.jpg");
    height: 400px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero1.jpg");
    height: 600px;
    width: 1600px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop2x.jpg);
  }
}
.hero-section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1199.98px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1199.98px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 24px;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  text-align: center;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero__button:hover, .hero__button:focus {
  cursor: pointer;
}

/* Переваги */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

@media screen and (max-width: 767px) and (max-width: 1199px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item:not(:first-child) {
    margin-left: 30px;
  }
}

.benefits__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__text {
  margin-top: 0;
  margin-bottom: 0;
}

/*Чим ми займаємось*/
.whatwedo {
  padding-top: 0;
}
@media screen and (max-width: 1199.98px) {
  .whatwedo {
    display: none;
  }
}

.whatwedo__list {
  display: flex;
}

.whatwedo__item:not(:first-child) {
  margin-left: 30px;
}

.whatwedo__meta {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.whatwedo__item {
  position: relative;
}

.whatwedo__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
}

/* Команда */
.team {
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

.team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:not(:first-child) {
    margin-left: 30px;
  }
}

.team__img {
  display: block;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.team__meta {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  margin-bottom: 10px;
  text-align: center;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__position {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.social__icon {
  fill: currentColor;
}

/* Клієнти */
@media screen and (max-width: 1199px) {
  .clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:not(:first-child) {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

/* Стилізація фільтра на сторінці Портфоліо */
@media screen and (max-width: 767px) {
  .filter {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 48px;
  }
}

.filter__item {
  display: inline-block;
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  background-color: var(--secondary-bg-color);
  color: var(--tittle-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Стилізація галереї на сторінці Портфоліо */
@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.portfolio__item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .portfolio__item {
    margin-bottom: 30px;
  }
  .portfolio__item:first-child {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Стилізація Картки портфоліо */
.card__photo-wrap {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.card:hover .card__overlay {
  transform: translateY(0);
}

.card__image {
  width: 100%;
  flex-grow: 1;
}

.card__footer {
  background-color: #FFFFFF;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.card__title {
  margin-bottom: 4px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.card__footer {
  overflow: hidden;
  z-index: 2;
}

/* футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--third-bg-color);
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer-section > .container {
    display: flex;
    justify-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section > .container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet-container {
    display: flex;
    justify-content: center;
  }
}

.footer-logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .address__list {
    text-align: start;
  }
}

.address__item {
  margin-bottom: 8px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__map {
  color: #FFFFFF;
  font-style: normal;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map:hover, .address__map:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    align-items: flex-start;
    margin-left: 70px;
    margin-top: 12px;
  }
}

.footer-social__title,
.subscribe__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
  flex-direction: row;
}

.footer-social__item:not(:first-child) {
  margin-left: 10px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.footer-social__icon {
  fill: currentColor;
}

/* Форма підписки */
@media screen and (max-width: 1199px) {
  .subscribe {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    margin-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__title {
    margin-right: auto;
  }
}

.subscribe__form {
  width: 100%;
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe__field {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__field {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.subscribe__button {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.subscribe__button:hover {
  cursor: pointer;
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
  margin-top: 3px;
}

/* Модальне вікно+бекдроп */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
}
@media screen and (min-width: 479.98px) {
  .modal {
    max-width: 100%;
    max-height: 100%;
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1199.98px) {
  .modal {
    max-width: 100%;
    max-height: 100%;
    width: 528px;
    height: 581px;
  }
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 12px;
}

.callback {
  display: inline-block;
  max-width: 448px;
  height: 342px;
  margin-bottom: 20px;
}

.form {
  position: relative;
  width: 100%;
  height: 58px;
  margin-bottom: 10px;
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 35px;
  left: 12px;
  fill: var(--tittle-text-color);
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon .form__input:focus, .form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:hover, .form__textarea:focus {
  border-color: var(--accent-color);
}

.form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checked {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-checked__label {
  display: flex;
  align-items: center;
}

.form-checked__checkbox {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.form-checked__icon {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--tittle-text-color);
  border-radius: 2px;
}
.form-checked__checkbox:checked + .form-checked__icon {
  background-color: var(--accent-color);
  border-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-checked__icon-checked {
  fill: #FFFFFF;
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checked__checkbox:checked + .form-checked__icon .form-checked__icon-checked {
  opacity: 1;
}

.form-checked__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
}
@media screen and (min-width: 1199.98px) {
  .form-checked__text {
    font-size: 14px;
  }
}

.form-checked__agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}

.submit__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 52px;
  width: 200px;
  height: 50px;
  margin: auto;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit {
  width: 100%;
  display: inline-block;
}

.submit__button:hover {
  background-color: #188CE8;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Кнопка закривання модального вікна */
.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus .modal__icon-close {
  fill: var(--accent-color);
}/*# sourceMappingURL=main.css.map */