:root {
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA;
    --third-bg-color: #2F303A;
    --accent-color: #2196F3;
}

.page {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

button {
    padding: 0;
    margin: 0;

    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    /* outline: 2px solid tomato; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* приховані заголовки */

.hidden-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}


/* стилізація хедера */

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    ;
}

.header-section {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* стилізація лого */

/* .logo {
    text-decoration: none;
} */

.logo__web {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo__studio {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo__studio--inverse {
    color: #FFFFFF;
}

/* стилізація навігації */

.navigation {
    display: flex;
    align-items: center;
}

.site-nav {
    position: relative;

    display: flex;
    margin-left: 93px;
}

.site-nav__item:not(:first-child) {
    margin-left: 50px;
}

.site-nav__link,
.site-nav__link--current {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;

    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__item--current {
    position: relative;
}

.site-nav__item--current::after {
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: " ";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

/* Хедер - контакти */

.contact {
    display: flex;
    margin-left: auto;
}

.contact__item {
    display: flex;
}

.contact__item:not(:first-child) {
    margin-left: 50px;
}

.contact__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 7px;
    padding-bottom: 7px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color);
}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}

/* герой */

.hero {
    text-align: center;

    background-color: var(--third-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.hero__button {
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;

    background-color: var(--accent-color);
    text-align: center;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
}

/* секції */

/* Переваги */

.benefits {
    display: flex;
}

.benefits__item {
    width: 270px;
}

.benefits__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
}

.benefits__item:not(:first-child) {
    margin-left: 30px;
}

.benefits__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits__text {
    margin-top: 0;
    margin-bottom: 0;
}

/*Чим ми займаємось*/

.whatwedo {
    padding-top: 0;
}

.whatwedo__list {
    display: flex;
}

.whatwedo__item:not(:first-child) {
    margin-left: 30px;
}

.whatwedo__meta {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;

    background-color: rgba(47, 48, 58, 0.8);
    ;
}

.whatwedo__item {
    position: relative;
}

.whatwedo__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
}

/* Команда */

.team {
    padding-top: 94px;
    background-color: var(--secondary-bg-color);
}

.team__list {
    display: flex;
}

.team__item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:first-child) {
    margin-left: 30px;
}

.team__meta {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;
    text-align: center;

    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team__position {
    text-align: center;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}



.social {
    display: flex;
    justify-content: center;
}

.social__item:not(:first-child) {
    margin-left: 10px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.social__icon {
    fill: currentColor;
}

/* Клієнти */

.clients__list {
    display: flex;
    justify-content: center;
}

.clients__item:not(:first-child) {
    margin-left: 30px;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients__icon {
    fill: currentColor;
}

/* Стилізація фільтра на сторінці Портфоліо */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__button {
    padding: 6px 22px;

    background-color: var(--secondary-bg-color);
    color: var(--tittle-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:first-child) {
    margin-left: 8px;
}


/* Стилізація галереї на сторінці Портфоліо */

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    flex-basis: calc((100% - 60px) / 3);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Стилізація Картки портфоліо */

.card {
    display: flex;
    flex-direction: column;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__photo-wrap {
    position: relative;
    overflow: hidden;
}

.card__overlay {
    position: absolute;
    left: 0;
    top: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.card__image {
    flex-grow: 1;
}

.card__footer {
    background-color: #FFFFFF;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.card__title {
    margin-bottom: 4px;

    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card__text {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.card__footer {
    overflow: hidden;
    z-index: 2;
}

/* футер */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--third-bg-color);
}

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    ;
}

.footer-section>.container {
    display: flex;
}

.footer-logo {
    margin-bottom: 20px;
}

.address__item {
    margin-bottom: 9px;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map {
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map:hover,
.address__map:focus {
    color: var(--accent-color);
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}


.footer-social {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 12px;
    margin-left: 70px;
}

.footer-social__title,
.subscribe__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-social__list {
    display: flex;
    flex-direction: row;
}

.footer-social__item:not(:first-child) {
    margin-left: 10px;
}

.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.footer-social__icon {
    fill: currentColor;
}


/* Фрпма підписки */

.subscribe {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
    margin-top: 12px;
}

.subscribe__form {
    width: 570px;
}

.subscribe__input {
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    outline: transparent;
}

.subscribe__field {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscribe__label {
    position: absolute;
    top: 15px;
    left: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:focus+.subscribe__label,
.subscribe__input:not(:placeholder-shown)+.subscribe__label {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.subscribe__button {
    display: flex;
    justify-content: center;

    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 28px;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.subscribe__button:hover {
    cursor: pointer;
}

.subscribe__icon {
    fill: currentColor;
    margin-left: 10px;
    margin-top: 3px;
}



/* Модальне вікно+бекдроп */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    /* visibility: hidden; */
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 528px;
    max-height: 581px;
    padding: 40px;

    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);

    margin-bottom: 12px;
}

.callback {
    display: inline-block;
    width: 448px;
    height: 342px;
    margin-bottom: 20px;
}

.form {
    position: relative;
    width: 448px;
    height: 58px;
    margin-bottom: 10px;
}

.form__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.form__icon {
    position: absolute;
    top: 35px;
    left: 12px;
    fill: var(--tittle-text-color);
    pointer-events: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
    width: 448px;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 11px;
    padding-right: 12px;
    padding-bottom: 11px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus+.form__icon,
.form__input:hover+.form__icon {
    fill: var(--accent-color);
}

.form__input:focus,
.form__textarea:focus,
.form__input:hover,
.form__textarea:hover {
    border-color: var(--accent-color);
}

.form__textarea {
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: transparent;

    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-checked {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form-checked__label {
    display: flex;
    align-items: center;
}

.form-checked__checkbox {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.form-checked__checkbox:checked+.form-checked__icon {
    background-color: var(--accent-color);
    border-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-checked__checkbox:checked+.form-checked__icon .form-checked__icon-checked {
    opacity: 1;
}

.form-checked__icon {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-left: 13px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--tittle-text-color);
    border-radius: 2px;
}

.form-checked__icon-checked {
    fill: #FFFFFF;
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checked__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

    margin-left: 8px;
}

.form-checked__agreement {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 5px;
}

.submit__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 52px;

    width: 200px;
    height: 50px;
    margin: auto;
    border-radius: 4px;
    border: none;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit {
    width: 100%;
    display: inline-block;
}

.submit__button:hover {
    background-color: #188CE8;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Кнопка закривання модального вікна */

.modal__close {
    position: absolute;
    right: 8px;
    top: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    ;
    cursor: pointer;
    outline: transparent;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__icon-close,
.modal__close:focus .modal__icon-close {
    fill: var(--accent-color);
}