.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    max-width: 450px;
    max-height: 609px;
    padding: 40px;

    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
    }

    @media screen and (min-width:$mobile) { 
        max-width: 100%;
        max-height: 100%;
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width:$desktop) {
        max-width: 100%;
        max-height: 100%;
        width: 528px;
        height: 581px;
    }
}

.modal__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);

    margin-bottom: 12px;
}

.callback {
    display: inline-block;
    max-width: 448px;
    height: 342px;
    margin-bottom: 20px;
}

.form {
    position: relative;
    width: 100%;
    height: 58px;
    margin-bottom: 10px;
}

.form__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 11px;
    padding-right: 12px;
    padding-bottom: 11px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.form__icon {
    position: absolute;
    top: 35px;
    left: 12px;
    fill: var(--tittle-text-color);
    pointer-events: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .form__input:focus,
    .form__input:hover + & {
        fill: var(--accent-color);
    }
}

.form__textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: transparent;

    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        }
}

.form__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-checked {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.form-checked__label {
    display: flex;
    align-items: center;
}

.form-checked__checkbox {
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.form-checked__icon {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 16px;
    height: 15px;
    border: 2px solid var(--tittle-text-color);
    border-radius: 2px;

    .form-checked__checkbox:checked + & {
        background-color: var(--accent-color);
        border-color: transparent;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.form-checked__icon-checked {
    fill: #FFFFFF;
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .form-checked__checkbox:checked+.form-checked__icon & {
        opacity: 1;
    }
}

.form-checked__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;

    margin-left: 8px;

    @media screen and (min-width:$desktop) {
        font-size: 14px;
    }
}

.form-checked__agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 5px;
}

.submit__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 52px;

    width: 200px;
    height: 50px;
    margin: auto;
    border-radius: 4px;
    border: none;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit {
    width: 100%;
    display: inline-block;
}

.submit__button:hover {
    background-color: #188CE8;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Кнопка закривання модального вікна */

.modal__close {
    position: absolute;
    right: 8px;
    top: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    ;
    cursor: pointer;
    outline: transparent;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
   
    &:hover,
    &:focus .modal__icon-close {
        fill: var(--accent-color);
    }

}