/* body {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: #2a2a2a
} */

/* .magic-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.magic-btn > .icon {
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
}

.site-nav__link{
    color: currentColor;
    text-decoration: none;
}

.site-nav__link:hover{
    text-decoration: underline;
}

.site-nav__link--current{
    color: tomato;
}

.color-picker__option {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.counter {
    display: flex;
    margin-bottom: 20px;
};


.transaction-table{
    border: 1px solid black;
};

table{
    border-collapse: collapse;
    border: 1px solid black;
};

.box{
    width: 600px;
    height: 600px;
    color: aqua;
}; */


/* STYLES FOR MODAL WINDOW!!!COMMENT ALL PREVIOUS STYLES BEFORE USE */

/* body.show-modal .backdrop{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .modal{
    transform: scale(1);
}

.backdrop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal{
    padding: 24px;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    min-height: 320px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
} */



/* STYLES FOR EVENT_DELEGATION */

#parent,
#child,
#inner-child {
    margin: 16px;
    padding: 16px;
    border: 4px solid #212121;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

#parent {
    background-color: #673ab7;
}

#child {
    background-color: #448aff;
}

#inner-child {
    background-color: #ff9800;
}